*{
    box-sizing: border-box;
    background-color: rgb(46, 4, 85);
    color: white;
}


header #page_title {
    color:rgb(156, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

div .fav {
    margin: 15px;
    padding: 15px;
    border: 10px;
    text-align: center;
}

.title_favs{
    padding: 1rem 1.2rem;
    font-size: 3rem;
    color: coral;
}

#titles-movie {
    font-style: italic;
    color: blue;
}
#titles-music {
    font-style:bold;
    color: red;
}

#most-favorite-food{
    color: greenyellow;
    font-weight: 100;
}
.favorite-image{
    border-radius: 50%;
}

.table-C, th, td{
    border: 10px solid;
    color: black;
}

.ttitle{
    color: cornflowerblue;
}

.tbody{
    color: darkred;

}